header {
    display: flex;
    flex-direction: column;
}

.navigation {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: size(logo);
    text-transform: uppercase;
    font-weight: weight(black);
}

.mobile-menu-button {
    background: none;
    border: none;
    position: relative;
    z-index: 3;
}

.highlight {
    color: color(primary);
}
// Animated Link Underline by:
// https://tobiasahlin.com/blog/css-trick-animating-link-underlines/
.header-nav {
    position: absolute;
    z-index: 2;
    background: rgba($color: color(quaternary), $alpha: 0.95);
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;

    ul {
        margin: 100px auto 0 auto;
        list-style: none;
        width: calc(100% - 40px);
        li {
            margin: 20px 0;
            text-align: center;
            a {
                text-decoration: none;
                color: color(tertiary);
                font-size: size(nav-links);
                font-weight: weight(black);
                text-transform: uppercase;
                position: relative;
            }
            a::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: color(primary);
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.3s ease-in-out 0s;
            }
            a:hover::before {
                visibility: visible;
                transform: scaleX(1);
            }
        }
    }
} 
  

.welcome {
    // display: flex;
    position: relative;
    // align-items: flex-end;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 490px;
    height: 350px;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
}

.greeting-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
}

.hello {
    font-size: size(hello);
    text-transform: uppercase;
    // width: 700px;
    width: 100%;
}

.name {
    display: inline-block;
    // width: 700px;
    font-size: size(name);
}

.sub-title {
    font-size: size(sub-title);
    font-weight: weight(light);
    width: 100%;
}

.box {
    // position: absolute;
    // width: 500px;
    width: 100%;
    // height: 500px;
    background: color(tertiary);
    right: 0;
    top: 40px;
    &::before {
        content: url(/assets/pgram.svg);
        display: inline-block;
        position: absolute;
        z-index: -1;
        // top: -140px;
        top: 0;
        right: 0px;
    }
    img {
        // position: absolute;
        top: 40px;
        right: 40px;
        // width: 550px;
        width: 100%;
        display: block;
    }
}

.hire-me {
    background: color(primary);
    color: color(quaternary);
    font-size: size(button);
    font-weight: weight(black);
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 20px 60px;
    align-self: center;
    i {
        padding-right: 30px;
    }
}

