// ==================================================
// $Projects Section
// ==================================================
.projects {
    margin-top: 180px;
}
.projects-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    li {
        @include list-reset;
        margin: 10px;
        img {
            width: 390px;
            height: 440px;
        }
    }
}

// ==================================================
// $About Me Section
// ==================================================
.about-social-links {
    @include list-reset;
    display: flex;
}