// ==================================================
// $Projects Section
// ==================================================
.projects {
    margin-top: 40px;
}
.projects-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    li {
        @include list-reset;
        margin: 10px 0;
        img {
            width: 100%;
        }
    }
}

// ==================================================
// $About Me Section
// ==================================================


.about {
    background-image: url(../assets/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    min-height: 400px;
    h3, p, a {
        color: color(quaternary);
    }
    p {
        line-height: 1.6;
    }
}

.text-social {
    p {
        margin-bottom: 20px;
    }
}

.about-social-links {
    @include list-reset;
    display: flex;
    
    li {
        border: 1px solid color(quaternary);
        margin: 0 10px;
        padding: 10px;
        border-radius: 30px;

        transition: all 0.2s cubic-bezier(0.12, 0.67, 0.88, 0.29);
        a {
            transition: all 0.2s cubic-bezier(0.12, 0.67, 0.88, 0.29);
        }
        &:nth-child(1) {
            margin-left: 0;
        }
        &:hover {
            border: 1px solid color(secondary);
            a {
                color: color(secondary);
            }
        }
    }
}



.fa-twitter::before {
    position: relative;
    top: 1.5px;
    left: 1.5px;
}

.about-box {
    flex-basis: 400px;
    margin-top: 25px;
    img {
        width: 100%;
        display: block;
        position: relative;
    }    
}

// ==================================================
// $Skills Section
// ==================================================