// ==================================================
// $Projects Section
// ==================================================
.projects-section {
    margin-top: 60px;
}
.projects-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 100px;
    li {
        @include list-reset;
        margin: 10px 0;
    }
}
.project-card {
    width: 390px;
    height: 440px;
}

.project-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 390px;
    height: 220px;
    display: block;
}

.projects-gallery > li:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    background-image: url(../assets/p-1.png);
}

.projects-gallery > li:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    background-image: url(../assets/p-2.png);
}

.projects-gallery > li:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
    background-image: url(../assets/p-3.png);
}

.projects-gallery > li:nth-child(4) > div:nth-child(1) > div:nth-child(1) {
    background-image: url(../assets/p-4.png);
}

.projects-gallery > li:nth-child(5) > div:nth-child(1) > div:nth-child(1) {
    background-image: url(../assets/p-5.png);
}

.projects-gallery > li:nth-child(6) > div:nth-child(1) > div:nth-child(1) {
    background-image: url(../assets/p-6.png);
}

.project {
    padding: 30px;
    background: #3d3d49;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 390px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    div a {
            margin-right: 20px;
            color: white;
            font-size: 1.8rem;
            transition: all 1.5s cubic-bezier(0,.81,.24,.99);
            &:hover {
                color: color(secondary);
            }
        }
        
    }

.project-heading {
    color: #bdbdc8;
    font-size: 1.6rem;
    font-weight: weight(light);
}
.project-desc {
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: weight(normal);
}

// ==================================================
// $About Me Section
// ==================================================


.about-section {
    background-image: linear-gradient(90deg,rgba(26,25,109,0.75) 70%, rgba(254,93,68,0.75) 70%), url(../assets/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    min-height: 400px;
    h3, p, a {
        color: color(quaternary);
    }
    p {
        line-height: 1.6;
    }
}

.text-social p{
        margin-bottom: 20px;
}

.about-social-links {
    @include list-reset;
    display: flex;
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        margin: 0 10px;
        width: 60px;
        height: 60px;
        font-size: 3rem;

        border: 1px solid color(quaternary);
        &:nth-child(1) {
            margin-left: 0;
        }
    }
}

.social-link {
    transition: all 1.5s cubic-bezier(0,.81,.24,.99);
    a {
        transition: all 1.5s cubic-bezier(0,.81,.24,.99);
    }
    &:hover {
        border: 1px solid color(secondary);
        a {
            color: color(secondary);
        }
    }
}




.fa-twitter::before {
    position: relative;
    top: 1.5px;
    left: 1.5px;
}

.about-box {
    flex-basis: 400px;
    margin-top: 25px;
    img {
        width: 100%;
        display: block;
        position: relative;
    }    
}

// ==================================================
// $Skills Section
// ==================================================

.skills-section {
    padding: 50px 0;
}

.skills-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include list-reset;
        width: 125px;
        height: 200px;
        p {
            font-size: size(skills);
            font-weight: weight(regular);
            text-align: center;
            padding-bottom: 10px;
        }
        i {
            display: flex;
            justify-content: center;
            align-items: center;
            color: color(quaternary);
            background: linear-gradient(135deg, #1A196D 50%, #39367E 50%);            
            width: 100px;
            height: 100px;
            border-radius: 50px;
            &::before {
                font-size: 5.6rem;
            }
        }
        &:nth-child(1) i {
            background: linear-gradient(135deg, #E44D26 50%, #F16529 50%);
        }
        &:nth-child(2) i {
            background: linear-gradient(135deg, #0170BA 50%, #29A9DF 50%);
        }
        &:nth-child(3) i {
            background: linear-gradient(135deg, #BF4080 50%, #CF649A 50%);
        }
        &:nth-child(4) i {
            background: linear-gradient(135deg, #F58233 50%, #F99D34 50%);
        }
        &:nth-child(5) i {
            background: linear-gradient(135deg, #06568E 50%, #0769AD 50%);
        }
        &:nth-child(6) i {
            background: linear-gradient(135deg, #24292E 50%, #404448 50%);
        }
        &:nth-child(7) i {
            background: linear-gradient(135deg, #32acce 50%, #61DAFB 50%);
        }
        &:nth-child(8) i {
            background: linear-gradient(135deg, #F5820B 50%, #FFA713 50%);
        }
        &:nth-child(9) i {
            background: linear-gradient(135deg, #1A196D 50%, #39367E 50%);
        }
    }
}

// ==================================================
// $Contact Section
// ==================================================

.contact-section {
    color: white;
    padding: 100px 0;
    background-image: linear-gradient(rgba(black,0.5)), url(../assets/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact-section-form {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 40px);
    max-width: 600px;
    margin: 25px auto 0 auto;
    label {
        font-size: 2rem;
    }
    input, textarea {
        background: white;
        font-size: 2.2rem;
        flex: 100%;
        padding: 10px;
        margin: 10px 0 40px 0;
        border: none;
        &:nth-child(7) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    textarea {
        overflow: auto;
        resize: none;
        height: 220px;
        
    }
}