html {
    font-size: 62.5%;
    @include font(source-sans-pro, regular, normal);
}

html, body, p, h1, h2, h3, h4, h5, h6, nav, ul, li, a, section, div, main, footer, button {
    @include reset;
}

p {
    font-weight: weight(light);
}

.wrapper {
    width: calc(100% - 40px);
    margin: 0 auto;
}

.section-heading {
    text-transform: uppercase;
}

.section-heading-alt {
    color: color(secondary);
    text-transform: uppercase;
}

.highlight {
    color: color(primary);
}

.highlight-alt {
    color: color(secondary);
}

.fixed-menu { 
    overflow: hidden;
}