$colors: (
    primary: #1A196D,
    secondary: #FE5D44,
    tertiary: #000,
    quatenary: #FFF
);

$font-sizes: (
    body: 1.6rem,
    logo: 3.3rem,
    nav-links: 2rem,
);

$font-weights: (
    light: 300,
    regular: 400,
    black: 900,
);

$font-styles: (
    normal: normal,
    italic: italic,

);

$fonts: (
    source-sans-pro: ('Source Sans Pro', sans-serif),
);

