$colors: (
    primary: #1A196D,
    secondary: #FE5D44,
    tertiary: #000,
    quaternary: #FFF
);

$font-sizes: (
    body: 1.6rem,
    para: 3.5rem,
    logo: 3.3rem,
    nav-links: 2rem,
    hello: 3.8rem,
    name: 9.7rem,
    sub-title: 4.3rem,
    button: 3.2rem,
    skills: 2.5rem,
    font-33: 3.3rem,
    font-22: 2.2rem, 
);

$font-weights: (
    light: 300,
    regular: 400,
    black: 900,
);

$font-styles: (
    normal: normal,
    italic: italic,
);

$fonts: (
    source-sans-pro: ('Source Sans Pro', sans-serif),
);

